:root {
    --grey-color: #dddddd;
    --blue-color: #667799;
    --border-radius: 24px;
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    display: flex;
}

.container {
    margin-left: 150px;
    margin-right: 150px;
    font-family: arial;
    font-size: 24px;

    width:340px;
    height: 800px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--grey-color);
    padding: 10px;

    border-radius: 20px;
    box-shadow: 5px 5px 5px;

  }


.image {
    width:340px;
    height: 800px;
    overflow: hidden;
    border-radius: 10px;
}

 .selectores {
    top: 250px;
    right: 75%;

    width: 150px;
    position: absolute;

    background-color: var(--grey-color);
    padding: 10px;
    border-radius: var(--border-radius);
} 



.selectores label {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;

}

.selectores label select  {
    font-size: 24px;
    text-align: center;
    border-radius: var(--border-radius);
}

.selectores label select:hover{
    border: 2px solid var(--blue-color);
}

#referencia {
    background-color: white;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

/* COTAS */
.cotas {
    position: absolute;
    width: 100%;
}
#cota-horizontal {
    color: rgb(0, 0, 0);
    top: 715px;
    left: 250px;
    position: absolute;
}

#cota-vertical {
    text-align: center;
    color: black;
    top: 450px;
    left: 290px;
    position: absolute;
    transform: rotate(270deg);
}


/* FOTOS CONOS */
.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.figure {
    position: relative;
    display: flex;

    margin: 20px;
    padding-bottom: 40px;
    width: 200px;
    height: 200px;

    border-radius: var(--border-radius);
    background-color: var(--grey-color);
    box-shadow: 5px 5px 5px;
}

.figure:hover {
    background-color: var(--blue-color);
}

.figure img {
    border-radius: var(--border-radius);
}

.figure figcaption {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 100%;
    width: 100%;

    border-radius: var(--border-radius);

    font-weight: bold;
}

.figure figcaption:hover {
    color: white;
}

@media (max-width: 950px) {
    .parent {
        display: flex;
        flex-direction: column;
    }

    .container {
        margin: 0 auto;
    }
}