*{
    padding: 0;
    margin: 0;
}
.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px black;
    /* Setup */

    padding: 25px;
    display: flex;
    flex-direction: column;

  }
  .container label {
    display: flex;
    flex-direction: column;
    width : 50%;
}


.parent {
    display: flex;
    justify-content: center;
}