* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 24px;
}
/* TABLA */
table {
    border-collapse: collapse;
    width: 80%;
}



td,th {
    border: 1px solid #dddddd;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    background-color: red;
}
#main {
    display: flex;
}


/* FOTO */

.foto_container {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

figure img {
    display: flex;
    height: 100vh;
    width: auto;
}


/* COTAS */
#subtitulo {
    position: fixed;
    width: 300px;
    background-color: blue;

    /* width: 100%; */
}

/* L1 */
#subtitulo p:nth-child(1){
    position: relative;
    color: rgb(0, 0, 0);
    left: 17vh;
    top: 50vh;
    transform: rotate(0.75turn);

}

/* L2 */
#subtitulo p:nth-child(2){
    position: relative;
    color: red;
    left: 13vh;
    top: 70vh;
    transform: rotate(0.75turn);
}

/* L3 */
#subtitulo p:nth-child(3){
    position: relative;
    color: rgb(0, 255, 128);
    right: 10vh;
    top: 70vh;
    transform: rotate(0.75turn);
}

/* A */
#subtitulo p:nth-child(4){
    position: fixed;
    left: 30vh;
    top: 88vh;
}

/* B */
#subtitulo p:nth-child(5){
    position: fixed;
    left: 30vh;
    top: 92vh;
    justify-content: center;
    text-align: center;
}

/* C */
#subtitulo p:nth-child(6){
    position: fixed;
    left: 30vh;
    top: 95.5vh;


}

/* #p-prueba {
    position: fixed;
    left: 30vh;
    top: 95.5vh;
    text-align: center;
} */



/* BOTONES */
.contenedor-botones {
    position: fixed;
    background-color: red;
    /* display: flex;
    flex-direction: column; */
    bottom: 0px;
    left: 0px;
}

.botones {
    height: 50px;
    width: 50px;

}

.botones:hover {
    background-color: red;
}