* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    background-color: red;
}
#main {
    display: flex;
}
.foto_container {
    display: flex;
    flex-direction: column;
    align-items: center;    

}
figure img {
    display: flex;
    height: 100vh;
    width: auto;
    
}

figcaption{
    position: absolute;
}

figcaption p{
    position: relative;
}
figcaption p:nth-child(1){
    position: sticky;
    color: red;
    font-size: 10px;    
    left: 10rem;
    top: 8rem;
    transform: rotate(0.75turn);

}
/* figcaption p:nth-child(2){
    position: relative;
    color: red;
    font-size: 10px;    
    left: 3.5rem;
    top: 20rem;
    transform: rotate(0.75turn);
} */


